.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.section {
  background-color: #364867;
  -o-object-fit: fill;
  object-fit: fill;
}

.image {
  padding-top: 24px;
  padding-left: 6%;
}

.sticky-nav {
  position: relative;
  top: 0px;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0px 0px 5%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  background-color: #364867;
  -o-object-fit: fill;
  object-fit: fill;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px 0px 0px 0%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  -ms-grid-columns: 20% -webkit-max-content -webkit-max-content -webkit-max-content 0.25fr;
  -ms-grid-columns: 20% max-content max-content max-content 0.25fr;
  grid-template-columns: 20% -webkit-max-content -webkit-max-content -webkit-max-content 0.25fr;
  grid-template-columns: 20% max-content max-content max-content 0.25fr;
  -ms-grid-rows: 0.25fr;
  grid-template-rows: 0.25fr;
  font-family: 'Open Sans', sans-serif;
}

.nav-logo-link {
  display: block;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
}

.nav-logo {
  width: auto;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: left;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.image-2 {
  display: block;
}

.heading {
  position: relative;
  margin-top: 82px;
  margin-bottom: -74px;
  padding-top: 0px;
  padding-left: 6%;
  background-color: rgba(54, 72, 103, 0);
  font-family: Foundrysterling, Arial, sans-serif;
  color: #fff;
  font-size: 56px;
  font-weight: 300;
}

.paragraph {
  margin-top: 81px;
  margin-bottom: -63px;
  padding-top: 10px;
  padding-right: 20%;
  padding-left: 6%;
  font-family: 'Foundrysterling book', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 33px;
  font-weight: 400;
}

.image-3 {
  padding-left: 6%;
}

.image-3.list {
  display: inline-block;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.list {
  display: inline-block;
  padding-left: 10px;
  list-style-type: none;
}

.link {
  padding-left: 5%;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 24px;
  text-decoration: none;
}

.link.list {
  display: inline-block;
  margin-left: 5%;
  padding-left: 0%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: Foundrysterling, Arial, sans-serif;
  font-size: 19px;
  font-weight: 500;
}

.link.list:hover {
  display: block;
  min-height: 40px;
  min-width: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 20px;
  background-color: #fff;
  color: #364867;
}

.image-4 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  display: block;
  float: right;
  clear: none;
}

.navtext {
  position: relative;
  display: block;
  overflow: visible;
  margin-top: -82px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #364867;
}

.image-5 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.image-6 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
}

.image-7 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  overflow: visible;
  max-width: 90%;
  -o-object-fit: contain;
  object-fit: contain;
}

.image-8 {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  z-index: 0;
}

.image-9 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: auto;
}

.section-2 {
  position: relative;
}

.body {
  background-color: #fbfbfb;
}

.text-block {
  position: relative;
  top: 144px;
  font-family: Foundrysterling, Arial, sans-serif;
  color: #ea0a8c;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 5%;
}

.paragraph-2 {
  position: relative;
  top: 192px;
  font-family: Foundrysterling, Arial, sans-serif;
  color: #364867;
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.grid {
  position: relative;
  left: 0%;
  top: 234px;
  right: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  grid-template-areas: "Area";
  -ms-grid-columns: 0.25fr 0.25fr;
  grid-template-columns: 0.25fr 0.25fr;
  text-align: center;
}

.gridimage {
  padding-right: 20px;
  padding-left: 20px;
}

.section-3 {
  position: relative;
  top: 294px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.button {
  position: static;
  left: 40%;
  right: 40%;
  display: block;
  padding: 16px 32px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 1000px;
  background-color: #ea0a8c;
  font-family: Foundrysterling, Arial, sans-serif;
  font-size: 24px;
  text-align: left;
}

.button:hover {
  background-color: #eb319d;
}

.section-4 {
  position: relative;
  top: 320px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 87px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  background-color: #fff;
  -o-object-fit: fill;
  object-fit: fill;
}

.image-10 {
  position: relative;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: inline-block;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.grid-2 {
  position: relative;
  top: -373px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 84px;
  grid-row-gap: 16px;
  grid-template-areas: ". ." "Area Area-2";
  -ms-grid-columns: 480px 84px 480px;
  grid-template-columns: 480px 480px;
  -ms-grid-rows: auto 16px auto;
  grid-template-rows: auto auto;
}

.button-2 {
  margin-top: -109px;
  margin-left: 363px;
  background-color: #c2d4e4;
  font-family: 'Open Sans', sans-serif;
  color: #364867;
  font-weight: 300;
}

.button-2.button-body-2 {
  font-weight: 400;
}

.bold-text {
  font-weight: 400;
}

.div-block {
  margin-top: -90px;
  margin-right: 24px;
  margin-left: 0px;
  padding: 28px 40px 36px;
  border-radius: 12px;
  background-color: #c2d4e4;
}

.div-block:hover {
  background-color: #c4dcf1;
}

.div-block:active {
  background-color: #9ecbf3;
}

.div-block.right {
  margin-top: -90px;
  margin-left: 24px;
}

.div-block-2 {
  border-radius: 12px;
  background-color: #c2d4e4;
  opacity: 1;
}

.heading-2 {
  font-family: Foundrysterling, Arial, sans-serif;
  color: #364867;
  font-size: 28px;
  font-weight: 700;
}

.heading-3 {
  font-family: 'Open Sans', sans-serif;
  color: #364867;
  font-size: 28px;
}

.paragraph-3 {
  font-family: Foundrysterling, Arial, sans-serif;
  color: #364867;
  font-size: 18px;
  font-weight: 400;
}

.paragraph-4 {
  padding-top: 24px;
  font-family: Foundrysterling, Arial, sans-serif;
  color: #364867;
  font-size: 24px;
}

.image-11 {
  margin-top: -224px;
}

@media screen and (max-width: 991px) {
  .grid {
    display: -ms-grid;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 0.25fr 0.25fr;
    grid-template-columns: 0.25fr 0.25fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .grid-2 {
    grid-column-gap: 36px;
    -ms-grid-columns: 320px 320px;
    grid-template-columns: 320px 320px;
  }
  .div-block {
    padding-top: 0px;
    padding-bottom: 22px;
    padding-left: 24px;
  }
  .heading-2 {
    font-size: 18px;
  }
  .paragraph-3 {
    font-size: 12px;
  }
  .paragraph-4 {
    padding-top: 0px;
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .sticky-nav {
    position: relative;
  }
  .nav-grid {
    text-align: center;
  }
  .paragraph-2 {
    font-size: 16px;
  }
  .grid {
    -ms-grid-columns: 220px 220px;
    grid-template-columns: 220px 220px;
  }
}

@media screen and (max-width: 479px) {
  .sticky-nav {
    padding: 0px;
  }
  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }
  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }
  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }
  .heading {
    font-size: 36px;
  }
  .paragraph {
    font-size: 14px;
    line-height: 20px;
  }
  .image-9 {
    width: 256px;
    height: 256px;
  }
  .text-block {
    top: 83px;
  }
  .paragraph-2 {
    top: 107px;
    padding-right: 16px;
    padding-left: 16px;
    font-size: 14px;
    line-height: 20px;
  }
  .grid {
    top: 158px;
    display: block;
  }
  .gridimage {
    display: inline-block;
    padding-bottom: 36px;
  }
  .button {
    margin-top: -184px;
  }
  .grid-2 {
    grid-column-gap: 16px;
    grid-template-columns: repeat(auto-fit, 200px) 200px;
  }
  .div-block {
    margin-right: 0px;
    padding-right: 16px;
    padding-bottom: 20px;
    padding-left: 16px;
  }
  .div-block.right {
    border-radius: 12px;
  }
  .heading-2 {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

#w-node-acbb41579a9f-abee0816 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Area;
  -ms-grid-column-align: end;
  justify-self: end;
}

.grid-2>#w-node-acbb41579a9f-abee0816 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

#w-node-5737a14b8e07-abee0816 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: Area-2;
  -ms-grid-column-align: start;
  justify-self: start;
}

@font-face {
  font-family: 'Foundrysterlingbook';
  src: url('../fonts/FoundrySterlingBook.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterling';
  src: url('../fonts/FoundrySterling-Medium.otf') format('opentype'), url('../fonts/FoundrySterling-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterling book';
  src: url('../fonts/FoundrySterling-Book.otf') format('opentype'), url('../fonts/FoundrySterling-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterling';
  src: url('../fonts/FoundrySterling-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterlingot3';
  src: url('../fonts/FoundrySterlingOT3-BkItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Foundrysterlingot3 book';
  src: url('../fonts/FoundrySterlingOT3-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterlingot3';
  src: url('../fonts/FoundrySterlingOT3-ExtraBold.otf') format('opentype'), url('../fonts/FoundrySterlingOT3-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterlingot3 demi';
  src: url('../fonts/FoundrySterlingOT3-Demi.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterlingot3';
  src: url('../fonts/FoundrySterlingOT3-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterling';
  src: url('../fonts/FoundrySterling-ExtraBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterling demi';
  src: url('../fonts/FoundrySterling-Demi.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterlingot3';
  src: url('../fonts/FoundrySterlingOT3-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Foundrysterling';
  src: url('../fonts/FoundrySterling-BookItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}